Flask
Flask-Login
Flask-SQLAlchemy
PyMySQL
Werkzeug
flask_wtf
WTForms
email-validator
requests
sqlalchemy
Flask-Mail


# pip install -r requirements.txt

# drop database biblioteca_db;

# create database biblioteca_db;
