
    html, body {
      height: 100%;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #bbb4b4; /* Fondo gris clarito */
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
    }

    .scanner-box {
      background: #ffffff; /* Caja blanca */
      color: #333;
      padding: 40px 35px;
      border-radius: 12px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Sombra */
      width: 100%;
      max-width: 420px;
    }

    .form-control {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      color: #333;
    }

    .form-control::placeholder {
      color: #888;
    }

    .input-group-text {
      background-color: #f1f1f1;
      border: 1px solid #ddd;
      color: #555;
    }

    .btn-primary {
      background-color: #00bcd4;
      border: none;
      color: #fff;
    }

    .btn-primary:hover {
      background-color: #0097a7;
    }

    .btn-secondary {
      background-color: #6c757d;
      border: none;
      color: #fff;
    }

    .btn-secondary:hover {
      background-color: #5a6268;
    }

    #resultado {
      margin-top: 1rem;
      padding: 1rem;
      background-color: #f9f9f9;
      border-radius: 10px;
      border: 1px solid #ddd;
    }
